details {
    background: rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 4px;

    ::marker {
        display: none;
    }

    .caret {
        display: flex;
        align-items: center;
        justify-content: center;

        svg:last-child {
            display: none;
        }
    }

    &[open] {
        .caret {
            svg:first-child {
                display: none;
            }

            svg:last-child {
                display: inline;
            }
        }
    }

    summary {
        padding: 3.5px 5px;
        transition: .2s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        user-select: none;

        &:hover {
            background: rgba(0, 0, 0, 0.05);
        }
    }

    .details-content {
        padding: 1.5px 5px;
        border-top: solid 1px rgba(0, 0, 0, 0.1);
    }
}