.inspector {
    line-height: 1.4;
    padding: 15px;
    margin: 10px;
    color: black;
    border: 1px solid $border-color;
    border-radius: $border-radius-lg;
    background: $card-gradient;
    box-shadow: $shadow-sm;

    width: 400px;

    .error {
        color: red;
    }

    label::after {
        content: ": ";
    }

    h3 {
        margin-bottom: 8px;
    }

}

.sceneInput {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    align-items: center;
}