.inspector {
    line-height: 1.4;
    padding: 15px;
    margin: 10px;
    background: #ffd1d1;
    color: black;
    border: 1px solid #cbd5e1;
    border-radius: 12px;
    background: linear-gradient(135deg, #ffffff 0%, #f1f5f9 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

    width: 400px;

    .error {
        color: red;
    }

    label::after {
        content: ": ";
    }

    h3 {
        margin-bottom: 8px;
    }


    details {
        background: rgba(0, 0, 0, 0.05);
        border: solid 1px rgba(0, 0, 0, 0.1);
        margin-bottom: 4px;

        ::marker {
            display: none;
        }

        .caret {
            display: flex;
            align-items: center;
            justify-content: center;

            svg:last-child {
                display: none;
            }
        }

        &[open] {
            .caret {
                svg:first-child {
                    display: none;
                }

                svg:last-child {
                    display: inline;
                }
            }
        }

        summary {
            padding: 5px;
            transition: .2s;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            user-select: none;

            &:hover {
                background: rgba(0, 0, 0, 0.05);
            }
        }
    }

}

.sceneInput {
    display: flex;
}