$indent: 10px;

.inspector {
    line-height: 1.4;
    padding: 15px;
    margin: 10px;
    color: black;
    border: 1px solid $border-color;
    border-radius: $border-radius-lg;
    background: $card-gradient;
    box-shadow: $shadow-sm;

    width: 400px;

    .error {
        color: red;
    }

    label::after {
        content: ": ";
    }

    h3 {
        margin-bottom: 8px;
    }

    small {
        padding-left: $indent;
        color: $text-color;
        font-size: 11px;
    }

    select {
        padding: 1px !important;
    }

}

#scene-select {
    display: flex;
    gap: 8px;
    margin-bottom: 6px;
}

.sceneInput {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    align-items: center;

    a {
        cursor: pointer;
        transition: .05s transform ease-in-out;

        &.disabled {
            cursor: not-allowed;
            opacity: 0.5;

            &:hover {
                transform: none;
            }
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    .ease-menu {
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding-left: $indent;
    }
}