@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap');

@import 'variables';
@import 'ribbon';
@import 'timeline';
@import 'scenes';
@import 'scene-colors';


* {
    font-family: 'National Park', sans-serif;
}

body {
    font-family: sans-serif;
    background: $background-gradient;
}

.icon-text {
    display: flex;
    align-items: center;

    .icon-text__icon {
        margin-right: 3px;
    }
}