$track-header-width: 150px;
$time-grid-height: 14px;

.timeline-container {
    display: flex;

    .timeline-header {
        width: $track-header-width;
        height: $time-grid-height;
        background: #222;
        border-bottom: 1px solid #555;
    }

    .timeGrid {
        display: flex;
        border-bottom: 1px solid #555;
        background: #222;
        height: $time-grid-height;
        width: 100%;
        -webkit-user-select: none;
        user-select: none;
        position: relative; // Added for cycle positioning

        .cycle {
            border: 1px dashed #00ff00;
            position: absolute;
            top: 0;
            height: 100%;
            background-color: rgba(0, 255, 0, 0.1);
            pointer-events: none;
        }

        p {
            position: fixed;
            font-size: smaller;
            color: #ccc;
            user-select: none;
            margin: 0;
        }

        .notch {
            border-left: 1px dashed #555;
            height: 100%;
            display: inline-block;
            box-sizing: border-box;
        }

        .bar {
            border-left: 1px solid #555;
        }

        .major-bar {
            border-left: 1px solid #ffee00;
        }

        .nearest {
            border-left-color: #fff !important;
            border-left-width: 2px !important;
        }

        .cycle {
            position: absolute;
            top: 0;
            background-color: rgba(0, 255, 0, 0.2);
            border: 1px solid #00ff00;
            pointer-events: none;
            z-index: 10;
            height: 100%;
        }
    }
}

.track {
    background: grey;
    width: 100%;
    height: 30px;
    -webkit-user-select: none;
    user-select: none;

    .region {
        border: 1px solid #8c8c8c;
        color: black;
        background: lightgrey;
        -webkit-user-select: none;
        user-select: none;
        position: relative;

        &:hover {
            cursor: pointer;
        }

        .resize-handle {
            position: absolute;
            top: 0;
            width: 4px;
            height: 100%;
            cursor: ew-resize;
            background-color: transparent;
            z-index: 10;

            &.left {
                left: -2px;
            }

            &.right {
                right: -2px;
            }
        }
    }

    .truncated-left {
        border-left-color: red 2px solid !important;
    }

    .selected {
        background: #616161;
        text-decoration: underline;
        color: white;
    }

    .resizing:hover {
        background: #444 !important;
    }

    .resizing {
        cursor: ew-resize;
    }
}

.trackHeader {
    height: 30px;
    background: #333;
    width: $track-header-width;
    color: white;
    display: flex;

    a,
    p {
        margin-left: 7px;
    }

    .add-button:hover {
        color: greenyellow;
    }

    .remove-button:hover {
        color: red;
    }

    a {
        cursor: pointer;
        font-weight: bold;


    }
}

.trackContainer {
    display: flex;
}

.inspector {
    .error {
        color: red;
    }

    label::after {
        content: ": ";
    }
}

.playhead {
    position: absolute;
    width: 2px;
    background-color: rgba(200, 0, 255, 0.5);
    z-index: 20;
    top: 0;
    bottom: 0;
    left: calc(calc(#{$track-header-width} + var(--playhead-offset, 0px)) - 20px);
    pointer-events: none;
}

.new-region-indicator {
    width: 20px;
    height: 20px;
    font-size: 18px;
    border-radius: 100%;
    background-color: rgb(52, 52, 52);
    pointer-events: none;
    cursor: pointer !important;
    z-index: 10;
    line-height: 1;
    text-align: center;
    font-weight: 900;

    &:hover {
        background-color: rgb(1, 211, 1);
        color: black;
    }
}