.region {
    border: 1px solid #8c8c8c;
    background: lightgrey;
}



.track {
    background: grey;
    width: 100%;
    height: 30px;

    .selected {
        border: 3px solid #4b4b4b;
    }
}

.trackHeader {
    height: 30px;
    background: #333;
    width: 100px;
    color: white;
}

.trackContainer {
    display: flex;
}