.track {
    background: grey;
    width: 100%;
    height: 30px;
    user-select: none;
    -webkit-user-select: none;

    .region {
        border: 1px solid #8c8c8c;
        color: black;
        background: lightgrey;
        user-select: none;
        -webkit-user-select: none;
        position: relative;

        &:hover {
            cursor: pointer;
        }

        .resize-handle {
            position: absolute;
            top: 0;
            width: 4px;
            height: 100%;
            cursor: ew-resize;
            background-color: transparent;
            z-index: 10;

            &.left {
                left: -2px;
            }

            &.right {
                right: -2px;
            }
        }
    }

    .selected {
        background: #616161;
        text-decoration: underline;
        color: white;
    }

    .resizing:hover {
        background: #444 !important;
    }

    .resizing {
        cursor: ew-resize;
    }
}

.trackHeader {
    height: 30px;
    background: #333;
    width: 150px;
    color: white;
    display: flex;

    a,
    p {
        margin-left: 7px;
    }

    .add-button:hover {
        color: greenyellow;
    }

    .remove-button:hover {
        color: red;
    }

    a {
        cursor: pointer;
        font-weight: bold;


    }
}

.trackContainer {
    display: flex;
}