.track {
    background: grey;
    width: 100%;
    height: 30px;
    user-select: none;
    -webkit-user-select: none;

    .region {
        border: 1px solid #8c8c8c;
        background: lightgrey;
        user-select: none;
        -webkit-user-select: none;
    }

    .selected {
        background: #616161;
        text-decoration: underline;
        color: white;
    }
}

.trackHeader {
    height: 30px;
    background: #333;
    width: 100px;
    color: white;
}

.trackContainer {
    display: flex;
}