@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap');

@import 'reset.css';
@import 'variables';
@import 'ribbon';
@import 'timeline';
@import 'inspector';
@import 'scenes';
@import 'scene-colors';
@import 'render';
@import 'details';
@import 'form';

// Spinning animation for loading indicators
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spinning {
    animation: spin 1s linear infinite;
}

* {
    font-family: 'National Park', sans-serif;
}

body {
    font-family: sans-serif;
    background: $background-gradient;
}

.icon-text {
    display: flex;
    align-items: center;

    .icon-text__icon {
        margin-right: 3px;
    }
}