$track-header-width: 150px;

.timeline-container {
    display: flex;

    .timeline-header {
        width: $track-header-width;
        height: 20px;
        background: #222;
        border-bottom: 1px solid #555;
    }

    .timeGrid {
        display: flex;
        border-bottom: 1px solid #555;
        background: #222;
        height: 20px;
        width: 100%;
        -webkit-user-select: none;
        user-select: none;

        .notch {
            border-left: 1px dashed #555;
            height: 100%;
            display: inline-block;
            box-sizing: border-box;
        }

        .bar {
            border-left: 1px solid #555;
        }

        .major-bar {
            border-left: 1px solid #ffee00;
        }
    }
}

.track {
    background: grey;
    width: 100%;
    height: 30px;
    -webkit-user-select: none;
    user-select: none;

    .region {
        border: 1px solid #8c8c8c;
        color: black;
        background: lightgrey;
        -webkit-user-select: none;
        user-select: none;
        position: relative;

        &:hover {
            cursor: pointer;
        }

        .resize-handle {
            position: absolute;
            top: 0;
            width: 4px;
            height: 100%;
            cursor: ew-resize;
            background-color: transparent;
            z-index: 10;

            &.left {
                left: -2px;
            }

            &.right {
                right: -2px;
            }
        }
    }

    .selected {
        background: #616161;
        text-decoration: underline;
        color: white;
    }

    .resizing:hover {
        background: #444 !important;
    }

    .resizing {
        cursor: ew-resize;
    }
}

.trackHeader {
    height: 30px;
    background: #333;
    width: $track-header-width;
    color: white;
    display: flex;

    a,
    p {
        margin-left: 7px;
    }

    .add-button:hover {
        color: greenyellow;
    }

    .remove-button:hover {
        color: red;
    }

    a {
        cursor: pointer;
        font-weight: bold;


    }
}

.trackContainer {
    display: flex;
}

.inspector {
    .error {
        color: red;
    }

    label::after {
        content: ": ";
    }
}