.scenePage {
    display: flex;

    #scene-main {
        padding: $page-padding;
    }

    aside {
        flex: 1;
        background: lightgray;
        border-left: solid 2px gray;
    }
}

.sketch-list {
    list-style: none;
    padding: 20px 2px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 65vw;
    width: fit-content;

    li {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        flex-direction: column;
        border: 1px solid #cbd5e1;
        font-size: 13px;
        border-radius: 0 0 8px 8px;
        background: linear-gradient(135deg, #ffffff 0%, #f1f5f9 100%);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding-bottom: 4px;
        cursor: pointer;
        user-select: none;

        &:hover {
            transform: translateY(-1px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
            border-color: #94a3b8;
            background: linear-gradient(135deg, #ffffff 0%, #e2e8f0 100%);
        }

        &.selected {
            border-color: #3b82f6;
            background: linear-gradient(135deg, #e2ecfa 0%, #d1e6ff 100%);
            font-weight: bold;
            //box-shadow: 0 4px 8px rgba(59, 130, 246, 0.1);
        }
    }

    img {
        width: 150px;
        height: 112px;
        object-fit: fill;
        margin-bottom: 4px;
    }

    .caption {
        display: flex;
        align-items: center;

        .blob {
            margin-right: 2.5px;
            width: 10px;
            height: 10px;
            border: solid 1px rgba(0, 0, 0, 0.2);
            border-radius: 100%;
        }
    }
}