.timeline-container {
    display: flex;

    .timeline-header {
        width: $track-header-width;
        height: $time-grid-height;
        background: #222;
        border-bottom: 1px solid #555;
    }

    .timeGrid {
        display: flex;
        border-bottom: 1px solid #555;
        background: #222;
        height: $time-grid-height;
        width: 100%;
        -webkit-user-select: none;
        user-select: none;
        position: relative; // Added for cycle positioning

        .cycle {
            border: 2px dashed $p5-colour;
            position: absolute;
            top: 0;
            height: 100%;
            border-radius: 5px;
            backdrop-filter: blur(1px);
            background-color: rgba(253, 122, 159, 0.6);
            pointer-events: none;
            cursor: pointer;
            z-index: 10;
        }

        p {
            position: fixed;
            font-size: smaller;
            color: #ccc;
            user-select: none;
            margin: 0;
        }

        .notch {
            border-left: 1px dashed #555;
            height: 100%;
            display: inline-block;
            box-sizing: border-box;
        }

        .bar {
            border-left: 1px solid #555;
        }

        .major-bar {
            border-left: 1px solid #ffee00;
        }

        .nearest {
            border-left-color: #fff !important;
            border-left-width: 2px !important;
        }

    }
}

.track {
    background: linear-gradient(90deg, black, rgb(34, 34, 34));
    width: 100%;
    height: 30px;
    -webkit-user-select: none;
    user-select: none;

    .region {
        border: 1px solid var(--scene-color, #cbd5e1);
        border-radius: 12px;
        height: 100%;
        overflow: hidden;
        padding: 4px;
        font-size: 10px;
        -webkit-user-select: none;
        user-select: none;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(135deg, #ffffff 0%, #f1f5f9 100%);
        // transition: all 0.2s ease-in-out;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

        &:hover {
            cursor: pointer;
            text-decoration: underline;
            // border-color: #f64f7e;
        }

        .resize-handle {
            position: absolute;
            top: 0;
            width: 4px;
            height: 100%;
            cursor: ew-resize;
            background-color: transparent;
            z-index: 10;

            &.left {
                left: -2px;
            }

            &.right {
                right: -2px;
            }
        }
    }

    .truncated-left {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-left: 1px dashed black;
    }

    .selected {
        // background: #f1678e;
        // color: white;
        text-decoration: underline;
        font-weight: bold;
        font-size: 11px;
    }

    .resizing:hover {
        background: #fcbfbf !important;
        border-width: 4px;
    }

    .resizing {
        cursor: ew-resize;
    }
}

.trackHeader {
    height: 30px;
    background: linear-gradient(45deg, #f1678e, #f64f7e);
    width: 150px;
    color: white;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 12px;
    display: flex;
    align-items: center;

    p {
        margin-left: 7px;
        font-weight: 700;
    }

    a {
        transition: .2s;
    }

    .add-button {
        margin-left: 4px;
    }

    .remove-button {
        margin-left: 2px;
    }

    .add-button:hover,
    .remove-button:hover {
        transform: scale(1.2);
    }

    a {
        cursor: pointer;
        display: flex;
    }
}

.trackContainer {
    display: flex;
}


.inspector {
    line-height: 1.4;
    padding: 15px;
    margin: 10px;
    background: #ffd1d1;
    color: black;
    border: 1px solid #cbd5e1;
    border-radius: 12px;
    background: linear-gradient(135deg, #ffffff 0%, #f1f5f9 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

    width: 400px;

    .error {
        color: red;
    }

    label::after {
        content: ": ";
    }

    h3 {
        margin-bottom: 8px;
    }


    details {
        background: rgba(0, 0, 0, 0.05);
        border: solid 1px rgba(0, 0, 0, 0.1);
        margin-bottom: 4px;

        ::marker {
            display: none;
        }

        .caret {
            display: flex;
            align-items: center;
            justify-content: center;

            svg:last-child {
                display: none;
            }
        }

        &[open] {
            .caret {
                svg:first-child {
                    display: none;
                }

                svg:last-child {
                    display: inline;
                }
            }
        }

        summary {
            padding: 5px;
            transition: .2s;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            user-select: none;

            &:hover {
                background: rgba(0, 0, 0, 0.05);
            }
        }
    }

}

.playhead {
    position: absolute;
    width: 2px;
    background-color: rgba(200, 0, 255, 0.5);
    z-index: 10;
    top: 0;
    bottom: 0;
    left: calc(calc(#{$track-header-width} + var(--playhead-offset, 0px)) - 20px);
    pointer-events: none;
}

.new-region-indicator {
    width: 20px;
    height: 20px;
    font-size: 18px;
    border-radius: 100%;
    background-color: rgb(191, 191, 191);
    pointer-events: auto;
    cursor: pointer;
    z-index: 10;
    line-height: 1;
    text-align: center;
    font-weight: 900;

    &:hover {
        background-color: rgb(1, 211, 1);
        color: black;
        transform: scale(1.1);
    }
}